<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="search">
        <form action="/" method="get">
            <div class="search-container">
                <div class="search-left">
                    <label for="name">Language: </label>
                    <input type="text" name="name" id="main-search">
                    <div class="search-left-select">
                        <label for="popularity">Popularity: </label>
                        <select name="popularity">
                            <option value="0">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <br>
                        <label for="performance">Performance: </label>
                        <select name="performance">
                            <option value="0">Any</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="search-right">
                    <label for="paradigms">Paradigms: </label>
                    <input type="text" name="paradigms">
                    <br>
                    <label for="keywords">Keywords: </label>
                    <input type="text" name="keywords">
                </div>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>

    <% for (let i = 0; i < langs.length; i++) { %>
    <a class="result" href="/langs/<%=encodeURIComponent(`${langs[i].lang}`)%>" target="_blank">
        <img src=<%= langs[i].icon %> width="80px">
        <h1 class="lang-name"><%= langs[i].lang %></h1>
        <div>
            <h5>Popularity: <%= langs[i].popularity %> </h5>
            <h5>Performance: <%= langs[i].performance %> </h5>
        </div>
    </a>
    <% } %>
</body>

</html>