<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.lang %></title>
    <link rel="stylesheet" href="../style.css">
</head>
<body style="color: white;">
    <div class="lang-data-container">
        <h1><%= data.lang %></h1>
        <h3>Popularity: <%= data.popularity %></h3>
        <h3>Performance: <%= data.performance %></h3>
        <h4>Paradigms: <%= data.paradigms %></h4>
        <h4>Keywords: <%= data.tags %></h4>
    </div>
</body>
</html>